<html>
    <head>
        <link rel="stylesheet" href="/css/site.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta charset="UTF-8" />
        <title>Chuck</title>
    </head>

    <body>
        
       <div id="chuck-box"> 
            {{#chuck}}
                {{uselessbody}}
            {{/chuck}}
        </div>

        <div id="container">
            <form  action="/" method="POST">
                <button id="chuck-button" type="submit">Do It</button>
            </form>
        </div>
    </body>

</html>